.background_image { 
    background: url("../images/palm-trees-1209185_1920.jpg") no-repeat center center fixed; 
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; */

    background-size: cover; 
    background-repeat:no-repeat;
    background-position:center;
    
    height: 100%;
}

body, html {
    height: 100%;
}

.container {
    /* position: relative; */
    flex-direction: column;
}

.jumbotron {
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-items:center;
    /* top: 50%;
    left: 50%; */
}

/* .userSelect:hover{
    background-color: #7eeb17;
    color: white;
    padding: 10px;
} */

input[type=radio]:hover ~ div {
    background: #7eeb17;
 }

.hideMessage, .container {
    display: none;
}

.lastSeconds {
    font-weight: bold;
    color: red;
}






